---
---

@import "{{ site.theme }}";

#outer_content {
	max-width: 800px;
	margin: auto;
	overflow: auto;
}
#navigation_content {
	float: right;
	margin: 60px 0 60px 20px;
	max-width: 160px;
	z-index: 99;
	position: relative;
	background: #f2f2f2;
}

@media screen and (max-width: 850px) {
	#navigation_content {
		float: none;
		margin: 50px auto 0;
		max-width: 640px;
	}
}