pre {
    border: 1px solid black;
    background-color: black;
    color: white;
}
.chars26 {
    width: 26.6ch;
}
.chars23 {
    width: 23.3ch;
}
.chars20 {
    width: 20ch;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    /* position: relative; */
    page-break-after: auto;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tfoot { 
    display: table-footer-group;
}
td, th {
    border: 1px solid black;
    padding: 5px;
    vertical-align: top;
    /* max-width: 325px; */
    max-width: 42ch;
    page-break-inside:avoid;
    page-break-after:auto
}
thead th {
    background: silver;
    position: sticky;
    top: 3ch;
    z-index: 99;
}
.rowheader {
    vertical-align: middle;
}
.keyboard {
    font-family: monospace;
    text-align: center;
}
.keyboard td {
    width: 3ch;
}
.keyboard .action {
    background-color: yellow;
}
.keyboard .nav {
    background-color: aqua;
}
.keyboard .menu {
    background-color: lawngreen;
}
.noborder {
    border: none !important;
}
.key {
    font-weight: bolder;
}
pre .title {
    color: green;
}
pre .action {
    color: red;
}
pre .status {
    color: yellow;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    thead th {
        background: silver;
        position: static;
        top: auto;
        z-index: auto;
    }
}