pre {
    border: 1px solid black;
    background-color: black;
    color: white;
}
.chars26 {
    width: 26.6ch;
}
.chars23 {
    width: 23.3ch;
}
.chars20 {
    width: 20ch;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    /* position: relative; */
    page-break-after: auto;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tfoot { 
    display: table-footer-group;
}
td, th {
    border: 1px solid black;
    padding: 5px;
    vertical-align: top;
    /* max-width: 325px; */
    max-width: 42ch;
    page-break-inside:avoid;
    page-break-after:auto
}
thead th {
    background: silver;
    position: sticky;
    top: 0;
    z-index: 99;
}
.rowheader {
    vertical-align: middle;
    text-align: left;
}
.rowheader::first-line  {
    text-align: center;
    color: red;
}
.keyboard {
    font-family: monospace;
    text-align: center;
}
.keyboard td {
    width: 3ch;
}
.keyboard .action {
    background-color: yellow;
}
.keyboard .nav {
    background-color: aqua;
}
.keyboard .menu {
    background-color: lawngreen;
}
.noborder {
    border: none !important;
}
.key {
    font-weight: bolder;
}
pre .title {
    color: green;
}
pre .action {
    color: red;
}
pre .status {
    color: yellow;
}

.markdown-body {
    padding: 5ch;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.markdown-body table {
    font-family: initial;
}

.markdown-body h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
}

.markdown-body h2 {
    padding-bottom: .3em;
    font-size: 1.5em;
    border-bottom: 1px solid rgb(216, 222, 228);
    font-weight: 600;
}

.markdown-body strong {
    font-weight: 600;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    thead th {
        background: silver;
        position: static;
        top: auto;
        z-index: auto;
    }
    .markdown-body {
        padding: 0;
    }
}