pre {
    border: 1px solid black;
    background-color: black;
    color: white;
}
.chars26 {
    width: 26.6ch;
}
.chars23 {
    width: 23.3ch;
}
.chars20 {
    width: 20ch;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
}
td, th {
    border: 1px solid black;
    padding: 5px;
    vertical-align: top;
    /* max-width: 325px; */
    max-width: 42ch;
}
.rowheader {
    vertical-align: middle;
}
.keyboard {
    font-family: monospace;
    text-align: center;
}
.keyboard td {
    width: 3ch;
}
.keyboard .action {
    background-color: yellow;
}
.keyboard .nav {
    background-color: aqua;
}
.keyboard .menu {
    background-color: lawngreen;
}
.noborder {
    border: none !important;
}
.key {
    font-weight: bolder;
}
pre .title {
    color: green;
}
pre .action {
    color: red;
}
pre .status {
    color: yellow;
}